@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/nivo-slider3.2/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/nivo-slider3.2/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/nivo-slider3.2/nivo-slider/themes/dark/dark.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/nivo-slider3.2/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/nivo-slider3.2/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
<style>
    .title
    {
        text-align: center;
        font-weight: bold;
        font-size: large;
        color: rgb(178, 19, 13);
    }

    .detail_radius
    {
        text-align: center;
        width: 110px;
        height: 21px;
        background-color: rgb(178, 19, 13);
        border-radius: 5px;
    }

    .detail_link, a, a:link, a:visited
    {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .cell
    {
        background-color: transparent;
        background-repeat: no-repeat;
        width: 233px;
        height: 180px;
    }
    .image {
        margin: 0;
        padding: 0;
        vertical-align: bottom;
        display: block;
    }
</style>
<div>
    <div style="background-color: crimson">
        <img src="~/Images/Index/middle.jpg" style="width: 100%" class="image" />
    </div>
    <div>
        <table style="background-color: #5caf5c; width: 100%">
            <tr>
                <td class="cell" style="background-image: url(/Images/Index/middle_idea.png)">
                    <div style="float: right; width: 120px">
                        <span class="title">教学理念</span>
                        <br />
                        <span style="text-wrap: normal">
                            <br />
                            私たちはいちばん優しい中国語教室を目指します<br />
                            <br />
                        </span>
                        <br />
                        <div class="detail_radius">@Html.ActionLink("詳しくはこちらへ", "Idea", "Home", null, new { @class = "detail_link" })</div>
                    </div>
                </td>
                <td class="cell" style="background-image: url(/Images/Index/middle_environment.png)">
                    <div style="float: right; width: 120px">
                        <span class="title">学习环境</span>
                        <br />
                        <span style="text-wrap: normal">
                            <br />
                            私たちはいちばん優しい中国語教室を目指します<br />
                            <br />
                        </span>
                        <br />
                        <div class="detail_radius">詳しくはこちらへ</div>
                    </div>
                </td>
                <td class="cell" style="background-image: url(/Images/Index/middle_feel.png)">
                    <div style="float: right; width: 120px">
                        <span class="title">学员感言</span>
                        <br />
                        <span style="text-wrap: normal">
                            <br />
                            私たちはいちばん優しい中国語教室を目指します<br />
                            <br />
                        </span>
                        <br />
                        <div class="detail_radius">詳しくはこちらへ</div>
                    </div>
                </td>
                <td class="cell" style="background-image: url(/Images/Index/middle_experience.png)">
                    <div style="float: right; width: 120px">
                        <span class="title">免费体验</span>
                        <br />
                        <span style="text-wrap: normal">
                            <br />
                            私たちはいちばん優しい中国語教室を目指します<br />
                            <br />
                        </span>
                        <br />
                        <div class="detail_radius">体験申し込み</div>
                    </div>
                </td>

            </tr>
        </table>
    </div>
    <div>
        <table style="background-color: #5caf5c">
            <tr>
                <td style="padding: 0;margin: 0"><a href="http://www.demaekan.cn/" target="_blank">
                    <img src="~/Images/Link/130.png" height="69" width="200" class="image"></a></td>
                <td style="padding: 0;margin: 0"><a href="http://yahoo.co.jp" target="_blank">
                    <img src="~/Images/Link/131.png" height="69" width="155" class="image"></a></td>
                <td style="padding: 0;margin: 0"><a href="http://www.shwalker.com/" target="_blank">
                    <img src="~/Images/Link/132.png" height="69" width="167" class="image"></a></td>
                <td style="padding: 0;margin: 0"><a href="http://www.jct-test.com" target="_blank">
                    <img src="~/Images/Link/133.png" height="69" width="155" class="image"></a></td>
                <td style="padding: 0;margin: 0"><a href="http://www.msn.co.jp" target="_blank">
                    <img src="~/Images/Link/134.png" height="69" width="129" class="image"></a></td>
                <td style="padding: 0;margin: 0"><a href="http://dict.hjenglish.com/jp" target="_blank">
                    <img src="~/Images/Link/135.png" height="69" width="142" class="image"></a></td>
            </tr>
        </table>
    </div>
    @*    <div class="slider-wrapper theme-dark">
        <div id="slider" class="nivoSlider">
            <img src="~/Images/Index/middle_turn1.png" alt="">
            <img src="~/Images/Index/middle_turn2.png" alt="">
            <img src="~/Images/Index/middle_turn3.png" alt="">
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>图片标题</strong>，支持HTML标签 <a href="http://www.helloweba.com">helloweba.com</a>. 
        </div>
    </div>*@
</div>
<script type="text/javascript" src="~/Content/nivo-slider3.2/nivo-slider/demo/scripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="~/Content/nivo-slider3.2/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>
