body {
background-image:url(bg.png);
}

#wrapper {
width:250px;
margin: 0 auto;
}


.ac-menu,
.ac-menu ul,
.ac-menu li,
.ac-menu a,
.ac-menu span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

.ac-menu li {
	list-style: none;
}

/* Accordian Style */

.ac-menu li > a {
	display: block;
	position: relative;
	min-width: 160px;
	padding: 0 10px 0 0;
	text-align: center;
	height: 32px;

	color: #FFFFFF;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	
	
	background: #343435;
	background: -moz-linear-gradient(top, #343435 1%, #4a4a4a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#343435), color-stop(100%,#4a4a4a));
	background: -webkit-linear-gradient(top, #343435 1%,#4a4a4a 100%);
	background: -o-linear-gradient(top, #343435 1%,#4a4a4a 100%);
	background: -ms-linear-gradient(top, #343435 1%,#4a4a4a 100%);
	background: linear-gradient(top, #343435 1%,#4a4a4a 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.ac-menu > li:hover > a,
.ac-menu > li:target > a {
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	
	background: #20a4ca;
	background: -moz-linear-gradient(top, #20a4ca 1%, #47b5d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#20a4ca), color-stop(100%,#47b5d4));
	background: -webkit-linear-gradient(top, #20a4ca 1%,#47b5d4 100%);
	background: -o-linear-gradient(top, #20a4ca 1%,#47b5d4 100%);
	background: -ms-linear-gradient(top, #20a4ca 1%,#47b5d4 100%);
	background: linear-gradient(top, #20a4ca 1%,#47b5d4 100%);
	
	
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);

}



/* Sub-Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #eae9e9;
	border-bottom: 1px solid #c1bfbf;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #f6f5f5; }



/* Accordian Function */

.ac-menu li > .sub-menu {
	height: 0;
	overflow: hidden;

	-webkit-transition: height .2s ease-in-out;
	-moz-transition: height .2s ease-in-out;
	-o-transition: height .2s ease-in-out;
	-ms-transition: height .2s ease-in-out;
	transition: height .2s ease-in-out;
}

.ac-menu li:target > .sub-menu {
	height: 98px;
}